<%- include ('./includes/head.ejs') %>
<body>
    <%- include ('./includes/navigation.ejs') %>
    <main style="text-align: center;" class="container">
        <h3>Page not found</h3>
        <img src="assets/404.png" width="60%" alt="404 Error"/>
    </main>
</body>
<%- include ('./includes/footer.ejs') %>