<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>Mundana</strong></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
 
                <li class="nav-item">
                <a class="nav-link" href="/doc">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" href="/write-post">Write post</a>
                </li>            
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"> Hey, <%=username %> </a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <% if (isAuthenticated) { %>
                    <li class="nav-item highlight">
                        <form action="/logout" method="post">
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                         
                    </li>
                <% } %>
                <% if (!isAuthenticated) { %>
                    <li class="nav-item highlight">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#loginModal">
                            Login 
                        </button>
                    </li>
                <% } %>
 
            </ul>
        </div>
    </div>
    </nav>